body {
  padding: 20px;
}

.editor {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  overflow: auto;
  line-height: 30px;

  &:focus {
    outline: none;
  }
}

.at-button {
  outline: none;
  appearance: none;
  border-radius: 13px;
  margin: 0 4px;
  padding: 0 8px;
  border: 1px solid blue;
  background-color: transparent;
  height: 26px;
  line-height: 26px;
  color: blue;
  cursor: pointer;
}
